@model IEnumerable<MobilePhoneWeb.ServiceKhachHang.KhachHang>
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_LayoutPageIndex.cshtml";
}
<style type="text/css">

    .auto-style11 {
        width: 215px;
        text-align: right;
        font-weight: bold;
    }
    .auto-style5 {
        color: #FF0000;
    }
    .auto-style12 {
        font-weight: bold;
        font-size: large;
    }
    .auto-style1 {
        width: 215px;
        text-align: right;
        font-weight: 700;
    }
    .auto-style2 {
        width: 215px;
        }
    .auto-style3 {
        text-align: right;
        width: 455px;
    }
    .auto-style6 {
        text-align: left;
    }
    .auto-style14 {
        width: 215px;
        text-align: right;
        font-weight: 700;
        font-size: large;
    }
    .auto-style15 {
        font-size: medium;
    }
    .auto-style16 {
        width: 215px;
        text-align: right;
        vertical-align:middle;
        font-weight: 700;
        font-size: medium;
    }
    .auto-style17 {
        font-weight: bold;
        font-size: medium;
    }
    .auto-style18 {
        width: 215px;
        text-align: right;
        font-weight: bold;
        font-size: medium;
    }
    .auto-style19 {
        width: 455px;
    }
    </style>
<div class="title1" style="height:21px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SỬA THÔNG TIN</div>
@using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { id = "mainForm", name = "mainForm", onSubmit = "return Check();" }))
{
<div class="show" style="padding-top: 20px;text-align:left;">
    
    <form id="FormDangKy" action="" method="">
        @foreach(var item in Model){
    <table style="width: 680px">
        <tr>
            <td class="auto-style18"><strong><span class="auto-style15">Tên đăng nhập
                </span>
                <img height="22px" width="22px" src="~/Images/icon_user.gif" class="auto-style15" />
                </strong>
            </td>
            <td class="auto-style19">
                
                    <input class="required" minlength="6" id="name" name="name" size="35" readonly="true" value="@item.Username" onchange="Checkname();"/>
            </td>
        </tr>
        <tr>
            <td class="auto-style18"><strong><span class="auto-style15">Mật khẩu
                </span>
                <img height="22px" width="22px" src="~/Images/icon_mk.gif" class="auto-style15" />
                </strong>
            </td>
            <td class="auto-style19">
                <input class="required" minlength="6" type="password" id="pass" name="pass" value="@item.Password" />
            </td>
        </tr>
        <tr>
            <td class="auto-style18">
                <span class="auto-style17">Nhập lại mật khẩu</span><span class="auto-style12"><strong>
                <img height="22px" width="22px" src="~/Images/icon_mk.gif" class="auto-style15" />
                </strong>
                </span>
            </td>
            <td style="text-align: left" class="auto-style19">
                <input class="required" name="cpassword" type="password" id="pass2" name="pass2" value="@item.Password" />
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                Email:&nbsp;&nbsp; </td>
            <td style="text-align: left" class="auto-style19">
               
                    <input class="required email" id="email" name="email" size="35" value="@item.Email" onchange="checkEmail();" />
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                Họ tên:&nbsp;&nbsp; </td>
            <td style="text-align: left" class="auto-style19">
                
                    <input value="@item.HoTen" id="name2" name="name2" size="35" onchange="Checkhoten();"/>
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                Địa chỉ:&nbsp;&nbsp; </td>
            <td style="text-align: left" class="auto-style19">
                
                    <input value="@item.DiaChi" id="diachi" name="diachi" size="35" onchange="Checkhoten();"/>
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                Điện thoại:&nbsp;&nbsp;</td>
            <td style="text-align: left" class="auto-style19">
                
                    <input  class="digits" maxlength="12" id="phone" name="phone" size="35" value="@item.DienThoai" onchange="Checkdt();" />
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                Giới tính:<br />
                &nbsp;</td>
            <td style="text-align: left" class="auto-style19">
                @if(@item.GioiTinh.ToString() == "Nam"){
                    <input id="gioitinh" type="radio" value="Nam" name="gioitinh" checked="checked" />
                }else{
                    <input id="gioitinh" type="radio" value="Nam" name="gioitinh" />
                }
                <label for="sex">Nam</label>
                @if(@item.GioiTinh.ToString() == "Nữ"){
                    <input id="gioitinh" type="radio" value="Nữ" name="gioitinh" checked="checked" />
                }else{
                    <input id="gioitinh" type="radio" value="Nữ" name="gioitinh" />
                }
                <label for="sex">Nữ</label>
            </td>
        </tr>
        <tr>
            <td class="auto-style16">
                Ngày sinh:&nbsp;&nbsp; </td>
            <td style="text-align: left" class="auto-style19">
                <input id="txtDate" readonly="true" name="txtDate" value="@item.NgaySinh" />
            </td>
        </tr>
        <tr>
            <td class="auto-style1">
                &nbsp;</td>
            <td style="text-align: left" class="auto-style19">
                <input type="hidden" name="dangKy" />
                <input type="image" src="~/Images/Luu.jpg">
            </td>
        </tr>
        </table>}</form>
    @if (@ViewBag.Mess == 1)
    {<script>alert("Cập nhật thành công!"); window.location.href = 'http://' + window.location.host;</script>}
</div>
}
